.myBG {
    height: 100vh;
    background: url('../assets/Images/bg/bg_main.jpg');
    background-size:cover ;
}

.introSection { 
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px 4px rgb(69, 69, 73);
    letter-spacing: 4px;
}

.navTrends {
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 600;
    font-display: swap;
    text-shadow: 2px 2px 4px rgb(134, 134, 145);
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}